<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AiWeb</title>
</head>
<body>
  <mat-toolbar>
    <span>房價預測平台</span>
    <mat-icon class="house" aria-hidden="false" aria-label="Example user verified icon">home</mat-icon>
    <span class="example-spacer"></span>
    <button mat-mini-fab routerLink="/login"><mat-icon>person</mat-icon></button>
  </mat-toolbar>
  <router-outlet></router-outlet>
</body>
</html>
