:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #aaa;
}
.signhome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin-top: 2em;
    margin-bottom: 100px;
}
.sign-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: auto;
    padding: 20px;
    background: #aaa;
    border: 1px solid #777;
    border-radius: 5px;
}
.error {
    color: red;
    margin-bottom: 10px;
}
.button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.example-spacer {
    width: 1em;
}
#username, #password{
    color: whitesmoke;
}
#signupform {
    display: flex;
    flex-direction: column;
}