<!-- register.component.html -->

<div class="signhome">
    <div class="sign-container">
        <h2>Sign up</h2>
        <div *ngIf="error" class="error">{{ error }}</div>
        <form id="signupform" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
                <mat-label id="username" for="username">Username</mat-label>
                <input matInput type="text" name="username" [(ngModel)]="user.userAccount" required />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label id="password" for="password">Password</mat-label>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <input matInput type="password" id="password" name="password" [(ngModel)]="user.userPassword" matInput
                    [type]="hide ? 'password' : 'text'" required>
            </mat-form-field>
            <div class="button">
                <button style="color: whitesmoke;" mat-raised-button routerLink="/login">Log in</button>
                <div class="example-spacer"></div>
                <button mat-raised-button style="color: whitesmoke;" type="submit">Sign up</button>
            </div>
        </form>
    </div>
</div>